.App {
  text-align: center;
  margin-top:6%;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.faded-line {
  color:#282c34
}

th {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
}

button[type="submit"].follow{
  background-color: #617487;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 61%;
    margin-left: 10%;
}


button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0069d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading{
  
  padding:1%;
  border: none;
  background-color: white;
  font-size: 15px;
}

.clicked{
  background-color: rgb(216, 210, 210);
  border-radius: 5px;
}

.heading:hover {
  background-color: rgb(216, 210, 210);
  cursor: pointer;
  border-radius: 5px;
}

.read{
  background-color: #085031;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}




td{
  text-align: left;
  padding: 10px 20px;
 border:1px solid #282c34;
}

nav {
  background-color: rgb(71, 131, 205);
  height: 40px;
  width:100%;
  top:0;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: left;

}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  transition: transform 0.3s ease;

}

nav a:hover{
  background-color: rgb(139, 169, 206);
  text-decoration: none;
  margin-right: 10px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  transform: scale(1.1);
}


img{
  padding-right:20px;
}




.sideBar{

  width: 20%;
  background-color: #b4d1ef;
  position: fixed;
 top:60px;
  left:0;
  height:100%;
  align-items:center
  
 
}

.header{

  margin-left: 20%;
  padding:2px;
  border-bottom: 1px solid rgb(110, 107, 107);
  margin-top:4%;
  position: fixed;
  display: flex;
  top: 0;
  background-color: white;
  width: 100%;
 
}


.circular-image {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding-left: 10%;
  /* Optional styles for border and box shadow */
  
}


.body{
  margin-left: 20%;
  margin-top: 10%;
}

.repo-details{
  margin-left:5%;
  padding:1%;
  border-bottom: 1px solid rgb(166 159 159);
  width: 85%;
}

.repo-details>a{

  font-size: 20px;
  color: #0069d9;
}

.repo-details > span{
  color: gray;
  font-size: 18px;
  
}


.repo-details .topic{
  background-color: #e8dfdf;
  width: 10%;
  text-align: center;
  border-radius: 12px;
  padding: 5px;
  color: #363232;
  display:inline;
}

.repo-details .visible{
  display: inline;
  background-color: #d7e9ef;
  
  padding: 5px;
  border-radius: 15px;
  font-size: 10px;
  color: #100f0f;
  width: 20px;
}

.search-bar{

  width: 40%;
  margin-left:5%;
  height: 23px;
  border: 1px solid #9fa3aa;
  border-radius: 6px;
}

.names{
  display: block;
  
    text-align: left;
    
    width: 20%;
    padding:5px;
    border: 1px solid #aa9e9e;
    border-radius: 5px;
    
}

.nameList{
  margin-left: 46%;
    
    margin-top: 0px;
}

#name{
  width: 10%;
    height: 24px;
    border-radius: 5px;
}

.overview{
  display: grid;
  grid-template-columns: 40% 40%;
  margin: 3%;
  grid-template-rows: 20% 20% 20% auto;

}

.pinned{
  padding: 19px 33px 122px 26px;
  border: 1px solid #b5a9a9;
  margin: 5px;
  border-radius: 12px;

}

h5{
  margin-left:4%;
}


.loader {

  
  margin: auto;


  border: 5px solid #EAF0F6;


  border-radius: 50%;


  border-top: 5px solid #3f86b8;


  width: 30px;


  height: 30px;


  animation: spinner 4s linear infinite;


}


 


@keyframes spinner {


  0% { transform: rotate(0deg); }


  100% { transform: rotate(360deg); }


}



